/* 
    Document   : style
    Created on : Dec 14, 2013, 12:18:44 PM
    Author     : marcel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    margin:0;

}

body{
    margin:0;
    font-family: sans-serif;
    
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body > *{
    margin:1em;
}
.loginBar {
    text-align: right;
    margin: 0;
    border-bottom: solid black 1px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 67%, rgba(216,216,216,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(67%,rgba(234,234,234,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 67%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 67%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 67%,rgba(216,216,216,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 67%,rgba(216,216,216,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

    font-family: sans-serif;
    font-size: 13px;


}

.loginBar *{
    text-align: right;
    display: inline;
    margin: 0;
    display: inline-block;

}

.loggedInUser{
    padding: 5px;


}

.logout{
    border-left: solid black 1px;
    padding: 5px;


}
.language{
    border-left: solid black 1px;
    padding: 5px;


}
.logout *{
    margin-right: 5px;

}

.header{
    padding: 5px;
    text-align: center;
    right:50%;
    margin-right: 60%;
}

table td,th
{
       text-align: left;
    padding: 8px 8px;
}
.applicationName{
    position:absolute;
    left: 0;
    top:7px;
    font-weight: bold;
}

.message1{
    font-weight: bold;
    color:green;
    /*display: block;*/

    
}
